.addcontact_main_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-left: auto;
    margin-right: auto;
    .addcontact_div_for_buttons{
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
}